# dependencies
node_modules
bower_components

# build
build

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# misc
npm-debug.log
yarn-error.log
package-lock.json
