# Tests Results

## Context

Commit: [8142c74](https://github.com/ivmartel/jsonqa2md/commit/8142c74690a60ad763ecd0c13bcff73c48681881)

Date: Tue Apr 23 2024 18:55:01 GMT+0200 (Central European Summer Time)

Browser: Chrome Headless 124.0.6367.60 (Linux x86_64)

## Summary
Success: 5 ✅

Failed: 1 ❌

(total: 6, skipped: 0, total time: 7ms)

## Tests details

(4 / 6 tests with requirement(s), 1 test with no requirement, 1 test with bad requirement reference)

### math

- Add int numbers: ✅
(URS [#JQ2MD-001 (Add two numbers)](tutorial-user-stories.html#jq2md-001-add-two-numbers), [jsdoc](module-tests_math.html#~add-int-numbers))

- Add float numbers: ❌
(URS [#JQ2MD-001 (Add two numbers)](tutorial-user-stories.html#jq2md-001-add-two-numbers), [jsdoc](module-tests_math.html#~add-float-numbers))

- Add zero: ✅
(URS [#JQ2MD-001 (Add two numbers)](tutorial-user-stories.html#jq2md-001-add-two-numbers), [jsdoc](module-tests_math.html#~add-zero))

- Add negative: ✅
(URS [#JQ2MD-001 (Add two numbers)](tutorial-user-stories.html#jq2md-001-add-two-numbers), [jsdoc](module-tests_math.html#~add-negative))

- Add two numbers0: ✅
(⚠️ No requirement reference, [jsdoc](module-tests_math.html#~add-two-numbers0))

- Add two numbers1: ✅
(URS #JQ2MD-002 Add two numbers (⚠️ Unknown), [jsdoc](module-tests_math.html#~add-two-numbers1))

## Traceability

(1 / 5 tested requirements)

### math

URS [#JQ2MD-001 (Add two numbers)](tutorial-user-stories.html#jq2md-001-add-two-numbers):
 ✅ Add int numbers
 ❌ Add float numbers
 ✅ Add zero
 ✅ Add negative

URS [#JQ2MD-002 (Substract two numbers)](tutorial-user-stories.html#jq2md-002-substract-two-numbers):
 ⚠️ No tests

URS [#JQ2MD-002 (Multiply two numbers)](tutorial-user-stories.html#jq2md-002-multiply-two-numbers):
 ⚠️ No tests

URS [#JQ2MD-003 (Multiply two numbers)](tutorial-user-stories.html#jq2md-003-multiply-two-numbers):
 ⚠️ No tests

URS [#JQ2MD-004 (Divide two numbers)](tutorial-user-stories.html#jq2md-004-divide-two-numbers):
 ⚠️ No tests

